body {
    padding: 0px 0px 50px 0px;
    font-family: 'Bree Serif', serif;
}
.card {
    padding: 20px;
    border-radius: 10px;
    background: #F2F4F5; 
}
header {
    color: #0065FF;
    padding: 50px;
    text-align: center;
}
.form-section {
    padding-top: 150px;
}
.welcome {
    margin-top: 150px;
    padding: 50px;
    background: #F2F4F5;
    border-radius: 5px;
}
.fa-caret-up {
    color: green;
    font-size: 1.25rem;
}
.fa-caret-down {
    color: red;
    font-size: 1.25rem;
}